body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  word-break: break-all;
  margin: 0;
}

pre {
    white-space: pre-wrap;
}

/* Prevent overflow in scroll area with flex parent */
.rt-ScrollAreaViewport > * {
  width: auto;
}
