name: 'Manual Release Test Version'

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Specify a version suffix for the test release (limit to 20 characters or windows build will fail)"
        required: true
        type: string
        default: "test-version"

permissions: {}

jobs:
  publish-studio:
    permissions:
      contents: write
      id-token: write
    uses: ./.github/workflows/e2e-build-test.yml
    with:
      version: ${{ inputs.version }}
      build-command: publish
