name: Release Please E2E Tests

on:
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  e2e-tests:
    if: startsWith(github.head_ref, 'release-please--')
    permissions:
      contents: write
      id-token: write
    uses: ./.github/workflows/e2e-build-test.yml
    with:
      build-command: package
