name: 'Manual Release Test Version'

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Specify a version suffix for the test release (limit to 20 characters or windows build will fail)"
        required: true
        type: string
        default: "test-version"

permissions: {}

jobs:
  publish-studio:
    permissions:
      contents: write
      id-token: write
    uses: ./.github/workflows/e2e-build-test.yml
    with:
      version: ${{ inputs.version }}
      build-command: publish
    secrets:
      APPLE_CERTIFICATE_P12: ${{ secrets.APPLE_CERTIFICATE_P12 }}
      CERTIFICATE_PASSWORD: ${{ secrets.CERTIFICATE_PASSWORD }}
      APPLE_API_KEY: ${{ secrets.APPLE_API_KEY }}
      APPLE_API_KEY_ID: ${{ secrets.APPLE_API_KEY_ID }}
      APPLE_API_ISSUER: ${{ secrets.APPLE_API_ISSUER }}
      SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
      TRUSTED_SIGNING_ACCOUNT: grafana-premium-eastus
      TRUSTED_SIGNING_ENDPOINT: https://eus.codesigning.azure.net/
      TRUSTED_SIGNING_PROFILE: grafana-production
